extends layout
block body
    div(class='container', style='text-align: center;')
        h1
            span(class='label label-warning') 404

        h3 Seems like you entered a wrong link, try one of those from the top
